doctype html
html
  body(style="display: block;position: relative; padding: 17px 17px;margin-top: 18px;  text-align: center;")
    .container
      img.img-responsive(src="https://in.xero.com/logo?id=ZXlKdklqb2lOVGszWmpRME1qWXRNRFkyTlMwME5UQTRMV0UyT1dFdFlURmxZV05qTkRRMVpEVmxJaXdpWmlJNkltUmlNakprTnpNMUxUUTVPVGd0TkRBek5DMWhNRGN6TFRjeU4yWTFaR0l3WVRRd1pDSjktZjVLaERqbE9kT3c9" alt="everlife")
    br
    hr(style="border-color:#9e9e9e47; width: 50%;")
    br
    .container(style="color:#716969; font-family: Helvetica, Arial, sans-serif; font-size: 14px; left: 50%;right:50%;margin: auto !important;width: fit-content;")
      tbody
        tr
          th
            div
              div
                | Hi #{name},
                br
              div
                br
              div
                | Your KYC has been rejected.
                br
              div
                | #{kycDetails}
                br
              div
                br
              div
                | Thanks,
                br
              div
                | Team EverLife.AI
                br
              div
                br
